version: 2.1

orbs:
  codacy: codacy/base@3.0.1
  codacy_plugins_test: codacy/plugins-test@0.10.6

workflows:
  version: 2
  compile_test_deploy:
    jobs:
      - codacy/checkout_and_version
      - codacy/sbt:
          name: check_scalafmt
          cmd: |
            sbt "scalafmt::test;
                 sbt:scalafmt::test"
          requires:
            - codacy/checkout_and_version
      - codacy/shell:
          name: build_docker_and_test
          cmd: |
            docker build -t $CIRCLE_PROJECT_REPONAME:latest .
            docker run $CIRCLE_PROJECT_REPONAME:latest codacy_pylint_test.py
            docker save --output docker-image.tar $CIRCLE_PROJECT_REPONAME:latest
          persist_to_workspace: true
          requires:
            - codacy/checkout_and_version
      - codacy_plugins_test/run:
          name: plugins_test
          run_multiple_tests: true
          requires:
            - build_docker_and_test
      - codacy/publish_docker:
          context: CodacyDocker
          requires:
            - plugins_test
          filters:
            branches:
              only:
                - master
      - codacy/tag_version:
          name: tag_version
          context: CodacyAWS
          requires:
            - codacy/publish_docker
